@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    line-height: 1;
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
    font-size: 16px;
    color: #f7f7f7;
    background: #343a40;
    overflow-y: scroll;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.inner {
    width: 1600px;
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 30px 10px;
}

.sec {
    padding: 50px 0 100px 0;

    h2 {
        padding: 0 0 20px 0;
        margin: 0 auto 20px auto;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
}

.itm {
    position: relative;

    &:hover {
        .case {
            opacity: 1;
        }
    }

    .case {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px 30px;
        background: radial-gradient(transparent, #000);
        transition: 0.5s;

        .desc {
            margin: auto 0 0 0;
            // min-height: 150px;
        }

        .genre {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;

            li {
                padding: 5px 10px;
                background: #f5c518;
                color: black;
                border-radius: 2px;
                font-size: 11px;
            }
        }

    }
}



.Load {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background: #343a40;
    color: rgba(255, 255, 255, 0.5);
    z-index: 99999999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

.Header {
    line-height: 100px;

    h1 {
        width: 150px;
        font-size: 0;
    }

    .flex {
        gap: 30px;
    }
}


.Main {
    position: relative;

    .arrows {
        cursor: pointer;
    }

    .arrows i {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        padding: 20px;
        background: rgba(0, 0, 0, 0.3);
        font-size: 30px;
        color: #f7f7f7;

        &:first-child {
            left: 0;
        }

        &:last-child {
            right: 0;
        }
    }

    .desc {
        min-height: 150px;
    }

}

.All {
    h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin:30px 0;
    }
    .btn {
        display: flex;
        justify-content: center;
        gap: 30px;
        line-height: 100px;

        button {
            background: transparent;
            border: none;
            outline: none;
            color: #f7f7f7;
            margin: 0 3px;
            font-size: 15px;
            padding: 7px;
        }
    }

    .prev {
        color: #f5c518;
    }
}

.Detail {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;

    .flex {
        width: 800px;
        position: relative;
    }

    .close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        background: #f5c518;
        color: #fff;
        font-size: 30px;
        outline: none;
        border: none;
        cursor: pointer;
    }

    .flex>div {
        flex: 1;
    }

    &.on {
        display: none;
    }

    .desc {

        padding: 50px;
        background: #343a40;
        display: flex;
        flex-direction: column;

        h3 {
            margin: 0 0 20px 0;
            font-size: 28px;
        }

        p {
            font-size: 15px;
            line-height: 1.2;


        }

        ul {
            display: flex;
            gap: 10px;
            margin: auto 0 20px 0;
        }
    }
}

.List {
    h2 {
        color: #f5c518;
        letter-spacing: 0.08em;
    }
}